<button class="uk-modal-close-outside" type="button" uk-close></button>
<div class="uk-modal-header">
    <h2 class="uk-modal-title">Définition du mot de passe</h2>
</div>
<form class="form-horizontal" role="form" id="formulaire_modal">
    {{ form.hidden_tag() }}
    <div class="uk-modal-body" uk-overflow-auto>
        <div class="uk-margin">
            {{ form.password.label(class_='uk-form-label uk-text-bold') }}
            <div class="uk-form-controls">
            {{ form.password(class_='uk-input') }}
            {% for message in form.password.errors %}
                <div class="uk-alert uk-alert-danger">{{ message }}</div>
            {% endfor %}
            </div>
          </div>
         <div class="uk-margin">
            {{ form.retype_password.label(class_='uk-form-label uk-text-bold') }}
            <div class="uk-form-controls">
            {{ form.retype_password(class_='uk-input ') }}
            {% for message in form.retype_password.errors %}
                <div class="uk-alert uk-alert-danger">{{ message }}</div>
            {% endfor %}
            </div>
          </div>
    </div>

    <div class="uk-modal-footer uk-text-right">
        <button class="uk-button waves-effect uk-button-default uk-modal-close" type="button">Fermer</button>
        <button type="button" id="submit_modal" class="uk-button waves-effect uk-button-success">Enregistrer</button>
    </div>
</form>

<script>
    $('#submit_modal').on('click', function(e){
        e.preventDefault();
        $.ajax({
                url: "{{ url_for('user_param.edit_password', user_id=user_id) }}",
                data: $('#formulaire_modal').serialize(),
                type: 'POST',
                success: function(data) {
                    $('#modal-id .uk-body-custom').html(data);
                }
            });
    });

    {% if success %}
        window.location.replace(window.location.origin+"{{ url_for('user_param.edit', user_id=user_id) }}").delay();
    {% endif %}
</script>
