{% extends 'base.html' %}

{% block title %} {{ title_page }} {% endblock %}

{% block title_header %} {{ title_page }} {% endblock %}

{% block  button %}
    {% if current_user.has_roles([('super_admin', 'user')], ['edit']) %}
        <a class="uk-button waves-effect uk-button-success uk-button-small"  href="{{ url_for('user_param.edit', user_id=user_id, paged=request.args.get('paged'), internaute=request.args.get('internaute')) }}"><span class="uk-margin-small-right"><i class="fa fa-pencil-square-o"></i></span>Modifier</a>
    {% endif %}
    {%  if not request.args.get('internaute') %}
        {%  if request.args.get('soldier') %}
            <a class="uk-button waves-effect uk-button-danger uk-button-small" href="{{ url_for('user_soldier.index', paged=request.args.get('paged')) }}"><span class="uk-margin-small-right"><i class="fa fa-reply"></i></span>Retour</a>
        {% else %}
            <a class="uk-button waves-effect uk-button-danger uk-button-small" href="{{ url_for('user_param.index', paged=request.args.get('paged')) }}"><span class="uk-margin-small-right"><i class="fa fa-reply"></i></span>Retour</a>
        {% endif %}
    {% else %}
        <a class="uk-button waves-effect uk-button-danger uk-button-small" href="{{ url_for('user.index', paged=request.args.get('paged')) }}"><span class="uk-margin-small-right"><i class="fa fa-reply"></i></span>Retour</a>
    {% endif %}
{% endblock %}


{% block layout_content %}

    <div class="uk-container uk-container-expand uk-padding-small" id="uk-second-nav">
        <div class="uk-grid-small" uk-grid>
            <div class="uk-width-1-1">
                <div class="uk-grid-small" uk-grid>
                    <div class="uk-width-4-5@l uk-width-3-5@m uk-width-3-5@s">
{#                        {% if current_user.has_roles([('super_admin', 'user')], ['edit']) %}#}
{#                        <a class="uk-button waves-effect uk-button-default uk-button-small uk-width-1-1@xs uk-width-auto@s modal" href="{{ url_for('user_param.edit_password', user_id=user_id) }}" uk-toggle="target: #modal-id">{% if data.password %} Modifier le mot de passe {% else %} Definir un mot de passe {% endif %}</a>#}
{#                        {% endif %}#}
                    </div>
                    <div class="uk-width-1-5@l uk-width-2-5@m uk-width-2-5@s">
                        <ul class="uk-subnav uk-subnav-divider uk-flex-right" uk-margin>
                            <li><a href="#">Jamais Connecté</a></li>
                            <li><a href="#">Confirmé</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="uk-container uk-margin">
            {% include 'includes/flash_message.html' %}
            <div class="uk-grid-small" uk-grid>
                <div class="uk-width-1-1">
                    <div class="uk-card uk-card-default uk-card-small uk-card-body">
                        <div class="uk-position-top-right uk-padding-small uk-width-1-3@s uk-flex uk-flex-right">
                            <a href="#" class="uk-button waves-effect {% if data.activated %} uk-button-success-active {% else %} uk-button-danger-active {% endif %} uk-button-small">
                                <span>{% if data.activated %} Activé {% else %} Desactivé {% endif %}</span>
                            </a>
                        </div>
                        <div class="uk-padding uk-padding-remove-horizontal uk-grid-small uk-margin-bottom" uk-grid>
                            <div class="uk-width-1-1@s">
                                <div class="uk-margin">
                                    <label class="uk-form-label uk-text-bold">Reference : </label>
                                    <div class="uk-form-controls">
                                        <input type="text" class="uk-input uk-form-blank uk-width-1-1" {% if data.ref %} value="{{ data.ref }}" {% endif %}/>
                                    </div>
                                </div>
                            </div>
                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        {{ form.last_name.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            {{ form.last_name(class_='uk-input uk-form-blank') }}
                                            {% for message in form.last_name.errors %}
                                                <div class="uk-alert uk-alert-danger">{{ message }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        {{ form.first_name.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            {{ form.first_name(class_='uk-input uk-form-blank') }}
                                            {% for message in form.first_name.errors %}
                                                <div class="uk-alert uk-alert-danger">{{ message }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        {{ form.email.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            {{ form.email(class_='uk-input uk-form-blank') }}
                                            {% for message in form.email.errors %}
                                                <div class="uk-alert uk-alert-danger">{{ message }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        {{ form.fonction.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            {{ form.fonction(class_='uk-input uk-form-blank') }}
                                            {% for message in form.fonction.errors %}
                                                <div class="uk-alert uk-alert-danger">{{ message }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        {{ form.phone.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            {{ form.phone(class_='uk-input uk-form-blank') }}
                                            {% for message in form.phone.errors %}
                                                <div class="uk-alert uk-alert-danger">{{ message }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-1@s">
                                    <div class="uk-margin">
                                        {{ form.note.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            {{ form.note(class_='uk-input uk-form-blank') }}
                                            {% for message in form.note.errors %}
                                                <div class="uk-alert uk-alert-danger">{{ message }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% if data.user == 2 %}
                            <div class="uk-padding uk-padding-remove-horizontal uk-clearfix uk-width-1-1">
                            <hr class="uk-divider-icon"/>
                            <ul uk-tab>
                                <li><a href="#">Permissions</a></li>
                            </ul>

                            <ul class="uk-switcher uk-margin">
                                <li>

                                    <h2>Les permissions</h2>

                                    <ul uk-accordion>
                                        {% for data in liste_role %}
                                        <li {% if loop.index == 1 %}  class="uk-open" {% endif %}>
                                            <h3 class="uk-accordion-title uk-background-info uk-padding-small">{{ data.titre }}</h3>
                                            <div class="uk-accordion-content">
                                                <div class="uk-overflow-auto">
                                                <table class="uk-table uk-table-small uk-table-middle">
                                                            <thead>
                                                                <tr>
                                                                    <th width="40%">Role</th>
                                                                    <th width="20%">Attrib.</th>
                                                                    <th width="20%">Editer</th>
                                                                    <th width="20%">Suppr.</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for role in data.role %}
                                                                <tr class="addlist">
                                                                    <td>{{ role.titre }}</td>
                                                                    <td>
                                                                        <input type="checkbox" class="attrib uk-checkbox" name="attrib" value="{{ role.id }}" {% if role.id in attrib_list %} checked {% endif %}/>
                                                                    </td>
                                                                    <td>
                                                                            <input type="checkbox" class="edit uk-checkbox" {% if role.action < 1 %} disabled = "disabled" {% endif %} name="edit" value="{{ role.id }}" {% if role.id in edit_list %} checked {% endif %}/>
                                                                    </td>
                                                                    <td>

                                                                            <input type="checkbox" class="delete uk-checkbox" {% if role.action != 2 %} disabled = "disabled" {% endif %} name="delete" value="{{ role.id }}" {% if role.id in delete_list %} checked {% endif %} />

                                                                    </td>
                                                                </tr>
                                                            {% else %}
                                                                <tr>
                                                                    <td colspan="4">
                                                                    <h4 class="text-center">Aucune information</h4>
                                                                    </td>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                </div>
                                            </div>
                                        </li>
                                        {% endfor %}
                                    </ul>






                                </li>
                            </ul>
                        </div>
                        {% endif %}

                        {% if data.user == 1 %}
                            <div class="uk-grid-small uk-flex-center uk-grid-match" uk-grid uk-grid-margin>
                                <div class="uk-width-1-4@m uk-width-1-2@s uk-width-1-1">
                                    <div class="info-box">
                                        <div class="icon">
                                            <i class="fa fa-user-o"></i>
                                        </div>
                                        <div class="content">
                                            <div class="number count-to" data-from="0" data-to="{{ data.nbre_prospection(date_start, date_end) }}" data-speed="1000" data-fresh-interval="20"></div>
                                            <div class="text">Prospection du mois</div>

                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-4@m uk-width-1-2@s uk-width-1-1">
                                    <div class="info-box">
                                        <div class="icon">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        <div class="content">
                                            <div class="number count-to" data-from="0" data-to="{{ data.nbre_activation(date_start, date_end) }}" data-speed="1000" data-fresh-interval="20"></div>
                                            <div class="text">Activation du  mois</div>

                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-4@m uk-width-1-2@s uk-width-1-1">
                                    <div class="info-box">
                                        <div class="icon">
                                            <i class="fa fa-paper-plane-o"></i>
                                        </div>
                                        <div class="content">
                                            <div class="number count-to" data-from="0" data-to="{% if data.nbre_prospection(date_start, date_end)|int > 0 %} {{ data.nbre_activation(date_start, date_end) / data.nbre_prospection(date_start, date_end) }} {% else %} 0 {% endif %}" data-speed="1000" data-fresh-interval="20"></div>
                                            <div class="text">Taux de conversion</div>

                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-4@m uk-width-1-2@s uk-width-1-1">
                                    <div class="info-box">
                                        <div class="icon">
                                            <i class="fa fa-credit-card"></i>
                                        </div>
                                        <div class="content">
                                            <div class="number count-to" data-from="0" data-to="{{ data.commission(date_start, date_end) }}" data-speed="1000" data-fresh-interval="20"></div>
                                            <div class="text">Commission du mois</div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h2 class="uk-heading-line uk-text-left uk-margin-top"><span>Historique des prospections</span></h2>
                            <div class="uk-overflow-auto">
                                <table class="uk-table uk-table-small uk-table-middle uk-table-striped uk-table-hover display">
                                    <thead>
                                    <tr>
                                        <th width="30%">Date</th>
                                        <th width="25%">Nombre</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for prospect in data.story_propection() %}

                                        <tr>
                                            <td>{{ prospect.date }}</td>
                                            <td>{{ prospect.count }}</td>
                                        </tr>

                                    {% endfor %}


                                    </tbody>

                                </table>
                            </div>
                            <h2 class="uk-heading-line uk-text-left uk-margin-top"><span>Historique des activations</span></h2>
                            <div class="uk-overflow-auto">
                                <table class="uk-table uk-table-small uk-table-middle uk-table-striped uk-table-hover display">
                                    <thead>
                                    <tr>
                                        <th width="30%">Date</th>
                                        <th width="25%">Nombre</th>
                                        <th width="25%">Objectif</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for activation in data.story_activation() %}

                                        <tr>
                                            <td>{{ activation.date }}</td>
                                            <td>{{ activation.count }}</td>
                                            <td>
                                                <span>
                                                    {% if activation.montant > 4900 %}
                                                        <span class="uk-label uk-label-success">OK</span>
                                                    {% else %}
                                                        <span class="uk-label uk-label-danger">NOK</span>
                                                    {% endif %}
                                                </span>
                                            </td>
                                        </tr>

                                    {% endfor %}


                                    </tbody>

                                </table>
                            </div>
                            <h2 class="uk-heading-line uk-text-left uk-margin-top"><span>Historique des commissions</span></h2>
                            <div class="uk-overflow-auto">
                                <table class="uk-table uk-table-small uk-table-middle uk-table-striped uk-table-hover display">
                                    <thead>
                                    <tr>
                                        <th width="30%">Mois</th>
                                        <th width="25%">Montant</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for activation in data.story_commission() %}

                                        <tr>
                                            <td>{{ activation.date_month }}</td>
                                            <td>{{ activation.commission }}</td>
                                        </tr>

                                    {% endfor %}

                                    </tbody>

                                </table>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
    </div>


{% endblock %}

{% block footer_script %}
    <script>
        $('.attrib').on('click', function(){
            if($(this).is(':checked')){
                $(this).parent().parent().addClass('current');

                if($('.current .edit').attr('disabled') != 'disabled'){
                    $('.current .edit').prop('checked', true);
                }

                if($('.current .delete').attr('disabled') != 'disabled'){
                    $('.current .delete').prop('checked', true);
                }
                $(this).parent().parent().removeClass('current');
            }else{
                $(this).parent().parent().addClass('current');

                if($('.current .edit').attr('disabled') != 'disabled'){
                    $('.current .edit').prop('checked', false);
                }

                if($('.current .delete').attr('disabled') != 'disabled'){
                    $('.current .delete').prop('checked', false);
                }
                $(this).parent().parent().removeClass('current');
            }
        });

        $(".edit, .delete").on('click', function(){
            if($(this).is(':checked')){
                $(this).parent().parent().addClass('current');
                $('.current .attrib').prop('checked', true);
                $(this).parent().parent().removeClass('current');
            }
        });
    </script>
{% endblock %}