{% extends 'base.html' %}

{% set active_page = "parametre" %}
{% set submenu = "appareil" %}
{% set title = 'Editer un appareil' %}

{% block title %} {{ super() }} {{ title }} {% endblock %}
{% block breadcrumb_header %} {{ title }} {% endblock %}


{% block layout_content %}

    <div class="row">
        <div class="col-md-2">
            {% include 'includes/nav_param.html' %}
        </div>
        <div class="col-md-8">
            <div class="sticky-top m-b-20 padding-10">
                <ul class="nav justify-content-end">


                    <li class="nav-item">
                        <a class="btn btn-secondary btn-xs" href="{{ url_for('pos.index') }}">
                            Annuler
                        </a>
                    </li>
                    {% if data.id %}
                      <li class="nav-item">

                          {% if data.active  %}
                          <a class="btn btn-danger btn-xs" href="{{ url_for('pos.active', data_id=data.id) }}"> Desactiver </a>
                          {% else %}
                          <a class="btn btn-succes btn-xs" href="{{ url_for('pos.active', data_id=data.id) }}"> Activer </a>
                          {% endif %}


                      </li>
                      {% endif %}
                    <li class="nav-item">
                        <a href="#" class="btn btn-xs btn-primary submit">
                            Enregistrer
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card card-transparent form-fieldset">
              <form method="post" action=""  class="form-horizontal" autocomplete="off" id="submitForm">
                  	  <div class="card-body no-padding">
                                <div class="lead m-b-20 m-t-10">
                                    {{ title }}
                                </div>

                                {% for fielName, errorMessages in form.errors.items() %}
                                    {% for err in errorMessages %}
                                        <div class="col-md-12 error m-b-20">{{ err }}</div>
                                    {% endfor %}
                                {% endfor %}

                                {{ form.hidden_tag() }}

                                <div class="form-table form-table--with-spacing" >

                                      <div class="form-group row{% if form.name.errors %} has-error {% endif %}">

                                          {{ form.name.label(class_='col-md-3 control-label form-field__label') }}
                                          <div class="col-md-9">
                                              {{ form.name(class_='form-control form-field__input') }}
                                          </div>
                                      </div>

                                      <div class="form-group row form-group-default-select2{% if form.magasin.errors %} has-error {% endif %}">
                                          {{ form.magasin.label(class_='col-md-3 control-label form-field__label') }}
                                          <div class="col-md-9">
                                              {{ form.magasin(class_='form-control full-width form-field__input', **{ 'data-placeholder': "Point de vente associe a l'appareil", 'data-init-plugin':'select2' }) }}
                                          </div>
                                      </div>

                                </div>
                        </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}
