{% extends 'base.html' %}

{% set active_page = "stock" %}
{% set submenu = "transfert" %}
{% set title = 'Ordre de transfert' %}

{% block title %} {{ super() }} {{ title }} {% endblock %}
{% block breadcrumb_header %} {{ title }} {% endblock %}

{% block layout_content %}

    <div class="row">
        <div class="col-lg-2">
            {% include 'includes/nav_document.html' %}
        </div>
        <div class="col-lg-10">
            {% include 'includes/flash_message.html' %}

            <div id="card_transfert" class="card card-transparent" data-edit="{{ url_for('transfert.edit') }}" data-list="{{ url_for('api_transfert.index', compte_id=compte.id) }}">

            </div>

        </div>
    </div>

{% endblock %}
