{% extends 'base.html' %}

{% set active_page = "dashboard" %}
{% set title = 'Tableau de bord' %}

{% block title %} {{ super() }} {{ title }} {% endblock %}

{% block breadcrumb_header %} {{ title }} {% endblock %}

{% block layout_content %}

    <div class="row">
        <div class="col-lg-2">
             <div id="sidebar">
                 <div class="list-group panel">
                     <a href="#menu1" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="true">
                         <span class="title">Accueil</span>
                         <span class="arrow"></span>
                     </a>
                     <div class="collapse open show" id="menu1">
                         <a href="#" class="list-group-item active" data-parent="#menu1">Subitem 2</a>
                         <a href="#" class="list-group-item" data-parent="#menu1">Subitem 3</a>
                     </div>

                 </div>
                 <div class="panel">
                     <a href="#" class="list-group-item collapsed" data-parent="#sidebar">
                         Item 2
                     </a>
                 </div>
             </div>
        </div>
    </div>
{% endblock %}