{% extends 'base.html' %}

{% set active_page = "vente" %}
{% set submenu = "vente" %}
{% set title = 'Ventes' %}

{% block title %} {{ super() }} {{ title }} {% endblock %}
{% block breadcrumb_header %} {{ title }} {% endblock %}


{% block layout_content %}

    <div class="row">
        <div class="col-lg-2">
            {% include 'includes/nav_vente.html' %}
        </div>
        <div class="col-lg-10">
            {% include 'includes/flash_message.html' %}

            <div id="card_vente" class="card card-transparent" data-edit="{{ url_for('vente.edit') }}" data-list="{{ url_for('api_vente.index', compte_id=compte.id) }}">

            </div>

        </div>
    </div>

{% endblock %}
