{% extends 'base.html' %}

{% set active_page = "stock" %}
{% set submenu = "fournisseur" %}
{% set title = 'Editer un fournisseur' %}

{% block title %} {{ super() }} {{ title }} {% endblock %}
{% block breadcrumb_header %} {{ title }} {% endblock %}


{% block layout_content %}

    <div class="row">
        <div class="col-lg-2">
            {% include 'includes/nav_document.html' %}
        </div>
        <div class="col-md-8">
          <div class="sticky-top m-b-20 padding-10 bg-white">
              <ul class="nav justify-content-end">
                  <li class="nav-item">
                      <a class="btn btn-secondary btn-xs" href="{{ url_for('four.index') }}">
                          Annuler
                      </a>
                  </li>
                  <li class="nav-item">
                      <a href="#" class="btn btn-primary submit btn-xs">
                          Enregistrer
                      </a>
                  </li>
              </ul>
          </div>
          <div class="card card-transparent form-fieldset">
              <form method="post" action=""  class="form-horizontal" autocomplete="off" id="submitForm">
                  <div class="card-body no-padding">

                    <div class="lead m-b-20 m-t-10">
                        {{ title }}
                    </div>

                    {% for fielName, errorMessages in form.errors.items() %}
                        {% for err in errorMessages %}
                            <div class="col-md-12 error m-b-20">{{ err }}</div>
                        {% endfor %}
                    {% endfor %}

                    {{ form.hidden_tag() }}
                    <div class="form-table form-table--with-spacing" >
                      <div class="form-group row{% if form.display_name.errors %} has-error {% endif %}">

                          {{ form.display_name.label('Nom du fournisseur',class_='col-md-3 control-label form-field__label') }}
                          <div class="col-md-9">
                              {{ form.display_name(class_='form-control form-field__input') }}
                          </div>
                      </div>
                    </div>

                    <div class="form-table form-table--with-spacing" >

                      <div class="form-group row{% if form.phone.errors %} has-error {% endif %}">

                          {{ form.phone.label(class_='col-md-3 control-label form-field__label') }}
                          <div class="col-md-9">
                              {{ form.phone(class_='form-control form-field__input numeric', **{ 'data-a-sep': " ", 'data-v-min': "0", 'data-v-max': "999999999999"  }) }}
                          </div>
                      </div>

                      <div class="form-group row{% if form.email.errors %} has-error {% endif %}">

                          {{ form.email.label(class_='col-md-3 control-label form-field__label') }}
                          <div class="col-md-9">
                              {{ form.email(class_='form-control form-field__input') }}
                          </div>
                      </div>

                    </div>

                    <div class="form-table form-table--with-spacing" >
                      <div class="form-group row{% if form.ville.errors %} has-error {% endif %}">

                          {{ form.ville.label(class_='col-md-3 control-label form-field__label') }}
                          <div class="col-md-9">
                              {{ form.ville(class_='form-control form-field__input') }}
                          </div>
                      </div>
                      <div class="form-group row{% if form.quartier.errors %} has-error {% endif %}">

                          {{ form.quartier.label(class_='col-md-3 control-label form-field__label') }}
                          <div class="col-md-9">
                              {{ form.quartier(class_='form-control form-field__input') }}
                          </div>
                      </div>
                    </div>

                    <div class="form-table form-table--with-spacing" >
                      <div class="form-group row{% if form.note.errors %} has-error {% endif %}">

                          {{ form.note.label(class_='col-md-3 control-label form-field__label') }}
                          <div class="col-md-9">
                              {{ form.note(class_='form-control form-field__textarea') }}
                          </div>
                      </div>
                    </div>

                  </div>
              </form>
          </div>
        </div>
    </div>


{% endblock %}
